# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# user file
*.vcxproj.user
*.csproj.user
*.pubxml.user
*.slnLaunch.user

# Netease Api
/src/Source/Utility/NeteaseApi.cpp
/src/Header/Utility/NeteaseApi.h

# Debug ang Release
/.vs
/Build/*.dll
/Debug
/Debug-Netease
/Release
/Release_AVX2

# Installer
/ABCEnchanceInstaller/.vs
/ABCEnchanceInstaller/bin
/ABCEnchanceInstaller/obj
/ABCEnchanceInstaller/ABCEnchanceInstaller