[submodule "thirdparty/MetaHookSv"]
	path = thirdparty/MetaHookSv
	url = https://github.com/hzqst/MetaHookSv
[submodule "thirdparty/eventpp"]
	path = thirdparty/eventpp
	url = https://github.com/wqking/eventpp
[submodule "thirdparty/AIGCJson"]
	path = thirdparty/AIGCJson
	url = https://github.com/AIGMix/AIGCJson
